@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
* {
    /*text-decoration: none;*/
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    position: relative;
    /*background-color:#FAFAFA;*/
}

table,tr,td {
    margin:0;
    padding:0;
}

table {
    border: 1px solid #000000;
}

td {
    border: 1px solid #000000;
    text-align: center;
    vertical-align: middle;
}

h1 {
    margin-bottom: .2em;
}

input[type=text] {
    caret-color: #9E9E9E;
    color: black;
    padding: 0;
    border: 0;
    outline: none;
    text-align: center;
    width: 52px;
    height: 52px;
    font-size: 30px;
    background-color: #FFFFFF;
    font-weight: bolder;
    cursor: pointer;
    border: none;
}

input[type=text]:hover {
    background-color: #eee;
}

input[type=text]:disabled {
    cursor: default;
}

input[type=text]:disabled:hover {
    background-color: #FFFFFF;
}

ul {
    list-style: inside disc;
}

nav {
    display: flex;
    padding: 0 !important;
    justify-content: space-between !important;
}

nav .logo {
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 600;
}

nav .logo span {
    color: #e53935;
}

nav ul a {
    color: black;
    padding: 10px 0;
    transition: .5s linear;
}

nav ul a:hover {
    transform: scale(1.2) !important;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black !important;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row #time {
    margin: 0;
}

.btn {
    min-width: 120px;
    margin: 3px;
    border-radius: 0 !important;
}

.col-sm-8 {
    min-width: fit-content;
}

.hint {
    display: inline;
    font-size: 20px;
    margin: 0 10px;
}

.default-cell {
    color: #212121 !important;
}

.input-cell {
    color: #9E9E9E !important;
}

.resolved-cell {
    color: #1565C0 !important;
}

.selected-cell {
    background-color: #BBDEFB !important;
}

.relative-cell {
    background-color: #E1F5FE !important;
}

.disabled-cell {
    background-color: #E0E0E0 !important;
}

.duplicated-row {
    background-color: #ffcdd2 !important;
}

.duplicated-col {
    background-color: #ffcdd2 !important;
}

.duplicated-child {
    background-color: #ffcdd2 !important;
}

.modal-header h5 {
    font-size: 24px;
}

.modal-body h5 {
    width: fit-content;
    padding-bottom: 5px;
    font-size: 22px;
    border-bottom: 1px solid #BDBDBD;
}

.footer {
    margin-top: 30px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute !important;
    top: 100vh !important;
}

.footer .container {
    display: flex;
    justify-content: space-between;
}


#actions-wrap {
    text-align: center;
}

#game table {
    border-collapse: collapse;
    margin: 0 auto;
}

#game table td {
    border: 1px solid #BDBDBD;
}

#time {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 20px;
}

#time img {
    cursor: pointer;
    margin-left: 5px;
    height: 22px;
    transition: .5s;
}

#time img:hover {
    transform: scale(1.2);
}

#hint-zone {
    text-align: center;
}

#hint-elements {
    font-size: 30px;
    color: red;
    display: inline;
}

#tutorial h5 {
    text-align: center;
}

#tutorial h5 a {
    color: #505050;
}

#tutorial h5 a:hover {
    color: #000;
}

#hint-zone {
    margin: 10px auto;
}

#intro {
    font-weight: 600;
}

#hint-elements {
    display: block;
    font-size: 26px;
    margin: 0 17px;
    color: #ef5350;
    font-weight: 600;
    letter-spacing: 25px;

}

#cell-0, #cell-1, #cell-2,
#cell-3, #cell-4, #cell-5,
#cell-6, #cell-7, #cell-8 {
    border-top: 2px solid #212121;
}

#cell-72, #cell-73, #cell-74,
#cell-75, #cell-76, #cell-77,
#cell-78, #cell-79, #cell-80,
/*---*/
#cell-18, #cell-19, #cell-20,
#cell-21, #cell-22, #cell-23,
#cell-24, #cell-25, #cell-26,
/*---*/
#cell-45, #cell-46, #cell-47,
#cell-48, #cell-49, #cell-50,
#cell-51, #cell-52, #cell-53 {
    border-bottom: 2px solid #212121;
}

#cell-0, #cell-9, #cell-18,
#cell-27, #cell-36, #cell-45,
#cell-54, #cell-63, #cell-72 {
    border-left: 2px solid #212121;
}

#cell-8, #cell-17, #cell-26,
#cell-35, #cell-44, #cell-53,
#cell-62, #cell-71, #cell-80,
/*---*/
#cell-2, #cell-11, #cell-20,
#cell-29, #cell-38, #cell-47,
#cell-56, #cell-65, #cell-74,
/*---*/
#cell-5, #cell-14, #cell-23,
#cell-32, #cell-41, #cell-50,
#cell-59, #cell-68, #cell-77 {
    border-right: 2px solid #212121;
}

@media screen and (max-width:768px) {
    nav {
        padding-left: 35px !important;
        padding-right: 35px !important;
    }

    .footer .container {
        display: block;
    }

    .footer span {
        width: 100vw;
        display: block;
    }
}
